{erl_opts, [debug_info]}.

{deps, [
    {ibrowse,   {git, "git://github.com/cmullaparthi/ibrowse.git",  {tag, "v4.4.1"}}},
    {jsx,       {git, "git://github.com/talentdeficit/jsx.git",     {tag, "v3.0.0"}}}
    %, {lager,     {git, "", {tag, }}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [weather_forecaster]}
]}.
