[
  {weather_forecaster, [
    {darksky_host, "https://api.darksky.net/forecast/"},
    {darksky_key, "<YOUR DARKSKY API KEY>"},

    {city_conversion_url, "https://raw.githubusercontent.com/lutangar/cities.json/master/cities.json"},

    {cowboy_port, 8080},
    {cowboy_dispatch_list, [
      {"/reload_city_list", weather_forecaster_api, []},
      {"/get_forecast",     weather_forecaster_api, []}
    ]}
  ]},

  {lager, [
    {log_root, "logs"},
    {colored, true},
    {handlers, [
      {lager_console_backend, [{level, info}]},
      {lager_file_backend, [{file, "weather_forecaster.log"}, {level, debug}]}
    ]}
  ]}

].